{% extends 'layout.html'%}
{% block content %}


 <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
          <th>USERNAME</th>
        <th>ADDRESS</th>
        <th>EMAIL</th>
           <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
     {%  for row in users %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.username }}</td>
        <td>{{ row.address }}</td>
        <td>{{ row.email }}</td>
        <td>
            <a href = "/hello-update?id={{ row.id }}">UPDATE</a>
            <a onclick="return deleteItem()"  href = "/hello-delete?id={{ row.id }}">DELETE</a>
            <a href = "/hello-view?id={{ row.id }}">VIEW</a>
<!--            <a href = "#">VIEW</a>-->
        </td>

    </tr>
    {% endfor %}
    </tbody>
  </table>
{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
<script>

    function deleteItem(){

    if (confirm("Are you sure you want to delete "))
        return true ;
    return false ;

    }
</script>

{% endblock %}