<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> {{result.username}}</h1>
<h1> {{result.email}}</h1>
<h1> {{result.address}}</h1>
</body>
</html>