<!DOCTYPE html>
<html lang="en">
<head>
 <title> MyDemoWebpp </title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="hello-index">MyFirstWeb</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="hello-create">Home</a></li>
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Locations <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">Banglore</a></li>
         <li><a href="#">Hyderabad</a></li>
         <li><a href="#">Delhi</a></li>
       </ul>
     </li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
       {%if request.user.username  %}
       <li><a href="logout"><span class="glyphicon glyphicon-user"></span>logout({{request.user.username}})</a></li>
       {% else %}
     <li><a href="login"><span class="glyphicon glyphicon-user"></span>Login</a></li>
     <li><a href="registration"><span class="glyphicon glyphicon-th-list"></span>Registrstion</a></li>
       {% endif %}
   </ul>
 </div>
</nav>
<div class="container">
 {% block content %}

   {% endblock %}
</div>
</body>
</html>