{% extends 'layout.html' %}
{% block content %}

<!--<h3> {{ name }} </h3>-->

<!--<h3>{{ s1.0 }}</h3>-->
<!--<h3>{{ s2.city }}</h3>-->


<!--{% for i in s1 %}-->
<!--<h3>{{ i }}</h3>-->
<!--{% endfor %}-->


<!--<h3> {{  form.as_p }} </h3>-->

{% load crispy_forms_tags %}

<form action="" method="post" novalidate >{% csrf_token  %}

   {{ form | crispy }}

   <input type="submit" value="submit" class="btn btn-success" >
</form>

<!--{% for k,v in s2.items %}-->
<!--<p>{{ k }} : {{ v }}</p>-->
<!--{% endfor %}-->


<!--{%   if name == ''  %}-->
<!--<h3>  empty name ...</h3>-->
<!--{% else %}-->
<!--<h3> your name is : {{ name }}</h3>-->
<!--{%  endif  %}-->







 {% endblock %}