{% extends 'layout.html' %}
{% block content %}
<h3> Home Page </h3>
{% if request.user.username %}
<h3>

    Welcome:{{request.user.username}}

</h3>
<h3>{{request.session.phone}}</h3>
<h3>{{request.session.city}}</h3>

<h4>
    <a href="/logout"> logout({{ request.user.username }})</a>
</h4>
{% else %}
<h4>
    <a href="/login"> Login again</a>
</h4>
{% endif %}
{% endblock %}