{% extends 'layout.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h3>  Login  </h3>
<h3>
    {{message}}
</h3>
<form action="" method = "post" novalidate> {% csrf_token%}
{{form | crispy}}
<input type="submit" value="Login" class = "btn btn-primary">
</form>
{% endblock %}
