{% extends 'layout.html' %}
{% block content %}



<h3>{{message}}</h3>
{% load crispy_forms_tags %}

<form action="" method="post" novalidate >{% csrf_token  %}

   {{ form | crispy }}

   <input type="submit" value="registration" class="btn btn-success" >
</form>

{% endblock %}