<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{% load static %}
    <link href="{% static 'css/mystyle.css'%}" rel="stylesheet">
    <script src="{% static 'js/myjs.js'%}"></script>

</head>
<body>

 <style>
        .class1{
        color:blue;
        }
    </style>

 <img src="{% static 'images/srikanth.jpg'%}" height="200" width="200"><br>
 <button onclick="click1('hello')">click1</button>
<button onclick="click2('im here')">click2</button>
<h3 style="color:red"> inline css</h3>
<h3 class="class1">internal css</h3>
<h3 class="class2"> External css</h3>


</body>
</html>